<h1>Find a Business</h1>

<%= form_tag businesses_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<h2>Recently added businesses</h2>
  <ul><% Business.recent.each do |biz| %>
    <li><%= link_to biz.name, biz %></li>
  <% end %></ul>
