<%= render partial: "business_info", locals: {business: @business} %>

<% if @business.user_id == current_user.id %>
  <%= link_to "Edit your business", edit_business_path(@business) %><br />
  <%= link_to "Add a product", new_business_product_path(@business) %><br />
<% end %>

<ul><% @business.products.each do |product| %>
  <li><%= link_to product.name, business_product_path(@business, product) %></li>
<% end %></ul>
