<%= render partial: "business_info", locals: {business: @business} %>

<%= link_to "Edit your business", edit_business_path if @business.user_id == current_user.id %>

<ul><% @business.products.each do |product| %>
  <li><%= link_to product.name, business_product_path %></li>
<% end %></ul>
