<h1><%= @user.name %></h1>

Show page

# User info
# Edit Profile button
# If businesses - List of associated businesses
# If no businesses - Looks like you have no businesses message
# Add a new business link
